// Output file in public/dist/css/main.css

$breakpoint-mobile-xs: 320px;
$breakpoint-mobile-s: 375px;
$breakpoint-mobile-m: 425px;
$breakpoint-mobile-l: 640px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-l: 1440px;
$breakpoint-4k: 2560px;

body {
  background: rgb(224, 224, 224);
}